* {
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  background: linear-gradient(
    136.31deg,
    #0c0f07 14.16%,
    #1f102b 53.39%,
    #23193e 82.63%
  );
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

#logo {
  width: 16rem;
  height: 10.4rem;
  margin-left: 5rem;
  margin-right: 50rem;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Baloo Bhaina 2";
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  color: #e0daed;
}

nav ul li {
  margin-left: 10rem;
}

#conteudo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

#formCadastro {
  width: 50%;
  text-align: center;
}

#formCadastro {
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 5rem;
  text-transform: uppercase;
  color: rgba(159, 127, 219, 0.8);
  justify-content: center;
  margin-top: 2rem;
}

p {
  font-size: 6.5rem;
}

input {
  width: 40.8rem;
  height: 6.2rem;
  background: #9f7fdb;
  border-radius: 1rem;
  font-family: Lexend Deca;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: white;
  margin-bottom: 4rem;
  padding-left: 1rem;
}

input::placeholder {
  color: white;
}

#buttonCadastro {
  align-items: flex-start;
  padding: 1rem 1.5rem;
  background: #7834f3;
  border-radius: 0.8rem;
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  color: #e9e1fd;
  margin-right: 6rem;
  cursor: pointer;
}

#buttonMaisInfo {
  align-items: flex-start;
  padding: 1rem 1.5rem;
  background: #9f7fdb;
  border-radius: 0.8rem;
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  color: #e9e1fd;
  cursor: pointer;
}

#imgFoguete {
  margin-top: 7rem;
}

#buttonCadastro:hover,
#buttonMaisInfo:hover {
  background-color: #d3da8d;
}
